#SITE_HEADERinlineContent {
    height: auto;
    width: 100%;
    position: relative;
}

#SITE_HEADERinlineContent-gridWrapper {
    pointer-events: none;
}

#SITE_HEADERinlineContent-gridContainer {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}

#i6g6mdtv_1 {
    position: relative;
    margin: 31px 0px 13px calc((100% - 980px) * 0.5);
    left: 126px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}

#SITE_HEADERcenteredContent {
    position: relative;
}

#SITE_HEADERinlineContent-gridContainer > * {
    pointer-events: auto;
}

#SITE_HEADERinlineContent-gridContainer > [id$="-rotated-wrapper"] {
    pointer-events: none;
}

#SITE_HEADERinlineContent-gridContainer > [id$="-rotated-wrapper"] > * {
    pointer-events: auto;
}
